:root {
  --img-translate-height: calc(-100 / 5) %;
}

.imgSliderContainer {
  position: relative;
  /* inset: 0; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  max-width: 720px;
  aspect-ratio: 3 / 2;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}

.imgContainer {
  transform: translateY(-20%);
  transition: transform 400ms ease-in-out;
}

.sliderImg {
  width: 100%;
  height: auto;
}

.sliderBtn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.sliderRadioContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  z-index: 10;
}

.sliderRadioContainer input[type="radio"] {
  margin: 0 0.5rem;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.sliderRadioContainer input[type="radio"]:hover {
  scale: 1.1;
  transform: translateY(8%);
}

.sliderRadioContainer input[type="radio"]:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(-20%);
  /* background-color: red; */
  z-index: 0;
}

.sliderRadioContainer input[type="radio"]:checked {
  background-color: purple;
  color: red;
  scale: 1.3;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
